 <fieldset>
    <legend>Nanoair Managment</legend>      
    <table class="table table-bordered">
      <tr>
        <th>Id</th> 
        <th>Name</th> 
        <th>Username</th> 
        <th>Age</th> 
        <th>Working at</th> 
        <th>position</th> 
        <th>Address</th> 
        <th>Phone</th> 
        <th>Actions</th> 
       
        
       
        
      </tr>
      <tr >
        <td>{{data.id}}</td> 
        <td>{{data.name}}</td> 
        <td>{{data.username}}</td> 
        <td>{{data.age}}</td> 
        <td>{{data.work}}</td>  
        <td>{{data.position}}</td> 
        <td>{{data.adresse}}</td> 
        <td>{{data.phone}}</td> 
        <button (click) = "change_params()">Switch from kasse to Basse</button> 
      </tr>
    </table>
  
  
  </fieldset>
